dataset/*
!dataset/artifacts/
dataset/artifacts/50_feature/
dataset/eda_outputs/
!dataset/models/
!dataset/output_pipeline/
dataset/output_pipeline/50_feature_output/
!dataset/results/
*.txt
feature_section-engineering.ipynb