dataset/*
dataset/*.csv
!dataset/dataset_produksi_padi.csv
dataset/eda_outputs/*.csv
!dataset/eda_outputs/final_merged_data.csv
!dataset/eda_outputs/*.png
!dataset/models/
!dataset/output_pipeline/
*.txt
readme.md